In [13]:
!pip install pandas
!pip install sqlalchemy3
!pip install numpy

Requirement already satisfied: numpy in d:\practice\pokedex\dataset\pokemon_env\lib\site-packages (1.26.4)

[notice] A new release of pip available: 22.2.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('pokemon.csv')
data.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

# For updated_pokedata.csv:

In [4]:
selected = data[['pokedex_number', 'name', 'percentage_male', 'type1', 'type2', 'height_m', 'weight_kg', 'abilities', 'capture_rate', 'generation', 'is_legendary', 'classfication']].copy()
# selected = data[['pokedex_number', 'name', 'percentage_male', 'type1', 'type2', 'height_m', 'weight_kg', 'abilities', 'capture_rate', 'generation', 'is_legendary', 'classfication', 'against_bug', 'against_dark', 'against_dragon', 'against_electric', 'against_fairy', 'against_fight', 'against_fire', 'against_flying', 'against_ghost', 'against_grass', 'against_ground', 'against_ice', 'against_normal', 'against_poison', 'against_psychic', 'against_rock', 'against_steel', 'against_water']].copy()
selected.head()

,pokedex_number,name,percentage_male,type1,type2,height_m,weight_kg,abilities,capture_rate,generation,is_legendary,classfication
0,1,Bulbasaur,88.1,grass,poison,0.7,6.9,"['Overgrow', 'Chlorophyll']",45,1,0,Seed Pokémon
1,2,Ivysaur,88.1,grass,poison,1.0,13.0,"['Overgrow', 'Chlorophyll']",45,1,0,Seed Pokémon
2,3,Venusaur,88.1,grass,poison,2.0,100.0,"['Overgrow', 'Chlorophyll']",45,1,0,Seed Pokémon
3,4,Charmander,88.1,fire,NaN,0.6,8.5,"['Blaze', 'Solar Power']",45,1,0,Lizard Pokémon
4,5,Charmeleon,88.1,fire,NaN,1.1,19.0,"['Blaze', 'Solar Power']",45,1,0,Flame Pokémon

In [5]:
selected.isna().any()

pokedex_number     False
name               False
percentage_male     True
type1              False
type2               True
height_m            True
weight_kg           True
abilities          False
capture_rate       False
generation         False
is_legendary       False
classfication      False
dtype: bool

In [6]:
selected['type2'].fillna('-', inplace=True)
selected['percentage_male'].fillna(-1, inplace=True)
selected['height_m'].fillna(-1, inplace=True)
selected['weight_kg'].fillna(-1, inplace=True)

C:\Users\kesha\AppData\Local\Temp\ipykernel_52076\4190865749.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  selected['type2'].fillna('-', inplace=True)
C:\Users\kesha\AppData\Local\Temp\ipykernel_52076\4190865749.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  selected['percentage_male'].fillna(-1, inplace=True)
C:\Users\kesha\AppData\Local\Temp\ipykernel_52076\4190865749.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  selected['height_m'].fillna(-1, inplace=True)
C:\Users\kesha\AppData\Local\Temp\ipykernel_52076\4190865749.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  selected['weight_kg'].fillna(-1, inplace=True)

In [7]:
selected.isna().any()

pokedex_number     False
name               False
percentage_male    False
type1              False
type2              False
height_m           False
weight_kg          False
abilities          False
capture_rate       False
generation         False
is_legendary       False
classfication      False
dtype: bool

In [8]:
selected.to_csv('updated_pokedata.csv', index=False)

# For updated_pokestats.csv:

In [3]:
selected = data[['pokedex_number', 'hp', 'attack', 'defense', 'sp_attack', 'sp_defense', 'speed', 'base_total', 'base_happiness', 'experience_growth']].copy()
selected

,pokedex_number,hp,attack,defense,sp_attack,sp_defense,speed,base_total,base_happiness,experience_growth
0,1,45,49,49,65,65,45,318,70,1059860
1,2,60,62,63,80,80,60,405,70,1059860
2,3,80,100,123,122,120,80,625,70,1059860
3,4,39,52,43,60,50,65,309,70,1059860
4,5,58,64,58,80,65,80,405,70,1059860
...,...,...,...,...,...,...,...,...,...,...
796,797,97,101,103,107,101,61,570,0,1250000
797,798,59,181,131,59,31,109,570,0,1250000
798,799,223,101,53,97,53,43,570,0,1250000
799,800,97,107,101,127,89,79,600,0,1250000
800,801,80,95,115,130,115,65,600,0,1250000

In [4]:
selected.isna().any()

pokedex_number       False
hp                   False
attack               False
defense              False
sp_attack            False
sp_defense           False
speed                False
base_total           False
base_happiness       False
experience_growth    False
dtype: bool

In [5]:
selected.to_csv('updated_pokestats.csv', index=False)